.content {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tweet-source-loading {
    text-align: center;
    padding-top: 15px;
}

.tweet-source, .tweet-draged {
    width: 40%;
    height: 100%;
}

.tweet-source-searcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-source-searcher input {
    width: 85%;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
}

.tweet-source-searcher i {
    width: max-content;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    border: 2px solid rgba(51, 51, 51, .5);
}

.tweet-source-searcher i:hover {
    border: 2px solid rgba(51, 51, 51, .9);
}

.tweet-drag {
    padding: 10px;
    height: max-content;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweet-drag span {
    text-align: center;
}

.tweet-source-content, .tweet-draged-content {
    border: 2px solid #333;
    max-height: max-content;
    min-height: 550px;
    margin-top: 15px;
}

.tweet-draged-title {
    height: 30px;
    color: rgba(51, 51, 51, .7);
}

@media (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .tweet-source, .tweet-draged {
        width: 100%;
        height: max-content;
    }
}